.placeholder__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.placeholder__image {
  animation: pulse 1.5s infinite ease-in-out;
  aspect-ratio: 1;
  background: var(--placeholder-color);
  border-radius: 5px;
  width: 100%;
}

.placeholder__text {
  animation: pulse 1.5s infinite ease-in-out;
  background: var(--placeholder-color);
  border-radius: 5px;
  height: 1.2rem;
  width: 50%;
  margin-left: 0.5rem;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@media (min-width: 600px) {
  .placeholder__image {
    aspect-ratio: 16 / 9;
  }
}
