.search-placeholder__headline {
  animation: pulse 1.5s infinite ease-in-out;
  background: var(--placeholder-color);
  border-radius: 5px;
  height: 2.4rem;
  margin-bottom: 1rem;
  width: 10rem;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
