.signup {
  display: flex;
  justify-content: center;
}

.signup__card {
  --gradient-border-size: 2px;
  background-color: var(--background-secondary);
  border-radius: calc(1rem - var(--gradient-border-size));
  padding: 2rem 2rem 1rem 2rem;
  position: relative;
  width: 380px;
}

.signup__card::before {
  border-radius: 1rem;
  bottom: calc(-1 * var(--gradient-border-size));
  box-shadow: var(--shadow);
  content: '';
  left: calc(-1 * var(--gradient-border-size));
  position: absolute;
  right: calc(-1 * var(--gradient-border-size));
  top: calc(-1 * var(--gradient-border-size));
  z-index: -1;
  background: linear-gradient(
    45deg,
    rgba(255, 172, 94, 1) 0%,
    rgba(207, 23, 148, 1) 12%,
    rgba(140, 24, 156, 1) 34%,
    rgba(91, 24, 162, 1) 50%,
    rgba(60, 22, 191, 1) 68%,
    rgba(6, 216, 249, 1) 100%
  );
}

.signup__divider {
  border: none;
  height: 1px;
  margin: 1rem 0;
  background: linear-gradient(
    45deg,
    rgba(255, 172, 94, 1) 0%,
    rgba(207, 23, 148, 1) 12%,
    rgb(179 26 200) 34%,
    rgb(135 22 255) 50%,
    rgb(75 23 255) 68%,
    rgba(6, 216, 249, 1) 100%
  );
}

.signup__title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.signup__input-group {
  margin-bottom: 1rem;
  position: relative;
}

.signup__input {
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  font-size: 1rem;
  height: 3rem;
  outline: none;
  padding: 1.5rem;
  transition: border 0.2s ease-in-out;
  width: 100%;
}

.signup__label {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  font-size: 1rem;
  left: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}

.signup__input:focus-visible {
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border-radius: 5px;
  border: solid 1px transparent;
  background-image: linear-gradient(
      var(--background-secondary),
      var(--background-secondary)
    ),
    linear-gradient(
      45deg,
      rgba(255, 172, 94, 1) 0%,
      rgba(207, 23, 148, 1) 12%,
      rgb(179 26 200) 34%,
      rgb(135 22 255) 50%,
      rgb(75 23 255) 68%,
      rgba(6, 216, 249, 1) 100%
    );
}

.signup__input:focus ~ .signup__label,
.signup__input:not(:placeholder-shown) ~ .signup__label {
  color: var(--primary-color);
  left: 1.5rem;
  top: 0;
}
.signup__actions {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.signup__forgot {
  background: none;
  color: var(--text-secondary);
  font-size: 0.85rem;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.signup__toggle {
  background: none;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
  margin-top: 1rem;
  width: 100%;
}

.signup__forgot:hover,
.signup__toggle:hover {
  text-decoration: underline;
}
