.swiper-placeholder__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
}

/* Hide placeholders depending on screen size */
.swiper-placeholder__slide:nth-child(n + 3) {
  display: none;
}

@media (min-width: 900px) {
  .swiper-placeholder__slide:nth-child(n + 6) {
    display: flex;
  }

  .swiper-placeholder__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .swiper-placeholder__slide:nth-child(n + 5) {
    display: flex;
  }

  .swiper-placeholder__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1500px) {
  .swiper-placeholder__slide:nth-child(n + 4) {
    display: flex;
  }

  .swiper-placeholder__container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 2200px) {
  .swiper-placeholder__slide:nth-child(n + 3) {
    display: flex;
  }

  .swiper-placeholder__container {
    grid-template-columns: repeat(6, 1fr);
  }
}
