.swiper {
  font-weight: 200;
  margin-bottom: 2rem;
  overflow: visible;
}

.swiper-slide:not(.swiper-slide-visible) .swiper-image {
  opacity: 0.33;
}
.swiper-slide:not(.swiper-slide-visible) .swiper-title {
  opacity: 0;
}

/* Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-top-offset: calc(50% - 0.85rem);
  --swiper-navigation-color: var(--white);
  transition: transform 200ms ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.15);
}

.swiper-button-disabled,
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
  font-size: 2rem;
  font-weight: bold;
  transition: transform 200ms ease;
}

.swiper-button-next:focus-visible::after,
.swiper-button-prev:focus-visible::after {
  display: block;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  transform: scale(1.25);
}

/* Scrollbar */
.swiper-scrollbar.swiper-scrollbar-horizontal {
  --swiper-scrollbar-sides-offset: 0px;
  background: transparent;
  height: 1px;
  top: -9px;
}

.swiper-scrollbar-drag {
  background: var(--text-primary);
  height: 1px;
}

@media (min-width: 600px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: block;
  }
}
