.swiper {
  font-weight: 200;
  margin-bottom: 2rem;
  overflow: visible;
}

.swiper-slide-no-image,
.swiper-slide img {
  aspect-ratio: 1;
  border-radius: 5px;
  box-shadow: var(--black) 0px 10px 18px -10px;
  cursor: pointer;
  display: block;
  margin-bottom: 0.5rem;
  object-fit: cover;
  opacity: 0.2;
  transition: transform 150ms ease, opacity 150ms ease;
  width: 100%;
}

.swiper-slide-no-image {
  align-items: center;
  background-color: #222;
  color: var(--grey);
  display: flex;
  justify-content: center;
}

.swiper-slide-visible .swiper-slide-text,
.swiper-slide-no-image,
.swiper-slide-visible img {
  opacity: 1;
}

.swiper-slide-no-image:hover,
.swiper-slide:hover img {
  transform: scale(1.05);
  transition: transform 300ms ease;
}

.swiper-slide-text {
  font-size: 0.875rem;
  height: 1.2rem;
  opacity: 0;
  overflow: hidden;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  transition: opacity 150ms ease-in;
  white-space: nowrap;
}

/* Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-top-offset: calc(50% - 0.85rem);
}

.swiper-button-disabled,
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--white);
  display: none;
  font-size: 2rem;
  font-weight: bold;
  transition: transform 200ms ease;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  transform: scale(1.25);
}

/* Scrollbar */
.swiper-scrollbar.swiper-scrollbar-horizontal {
  --swiper-scrollbar-sides-offset: 0px;
  background: transparent;
  height: 1px;
  top: -9px;
}

.swiper-scrollbar-drag {
  background: var(--font-color);
  height: 1px;
}

@media (min-width: 600px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: block;
  }

  .swiper-slide-no-image,
  .swiper-slide img {
    aspect-ratio: 16 / 9;
  }
}
