@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-primary: #1a1a1a;
  --background-secondary: #2d2d2d;
  --text-primary: #eee;
  --text-secondary: #a5a5a5;
  --black: #000;
  --white: #fff;
  --red: #ff3838;
}

body {
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  line-height: 1.2;
}

h1 {
  font-family: 'Cairo', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

h2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

p {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:active,
a:hover {
  color: var(--text-primary);
}

.link {
  display: inline-block;
  position: relative;
}

.link::after {
  background-color: var(--white);
  bottom: -2px;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  margin: auto;
  position: absolute;
  transition: all 150ms;
  width: 0;
}

.link:hover::after {
  left: 0;
  width: 100%;
}

.active {
  font-weight: 500;
}
.active::after {
  left: 0;
  width: 100%;
}
